---
// Component Imports
import Counter from '@components/Counter2.svelte';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <style>
      html,
      body {
        font-family: system-ui;
        margin: 0;
      }

      body {
        background: white;
      }
    </style>
  </head>

  <body>
    <main>
      <button>lazy-load counter</button>
      <!-- <Counter client:visible /> -->
      <div class="container"></div>
      <a href="/">back</a>
    </main>
  </body>
</html>

<script>
  const button = document.querySelector('button');
  button?.addEventListener('click', () => {
    import('@components/Counter2.svelte').then(({ default: Counter }) => {
      const counter = new Counter({
        target: document.querySelector('.container'),
        props: {
          visible: true,
        },
      });
    });
  });
</script>

<style>
  main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
</style>
